$navbar-default-bg: #CAF2FC;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
    float: left;
    font-size: 1.7em;
    color: #293133;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover
{
    color: #fff;
    text-decoration: none;
}

.center
{
    text-align: center;
}

.jumbotron
{
    background-image: asset-url("G0031586.JPG");
    background-size: cover;
    height: 550px;
}

.jumbotron h1
{
    
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #293133;
}

.btn-xlarge
{
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border: 2px solid #293133;
    font-size: 1.7em;
    color: #293133;
    /*outline-color: #293133;
    outline-style: solid;*/
}

.btn-xlarge:hover
{
    background-color: #293133;
    color: white;
    
}

.well
{
    background-color: #eaeaea;
    border-color: #293133;
}

.article-meta-details
{
    border-top: 1px solid #293133;
    margin-top: 15px;
    margin-bottom: -15px;
}

.article-actions
{
    border-top: 1px solid #eaeaea;
    padding-top: 2px;
    background-color: #eaeaea;
}

.description
{
    margin-top: 0;
}

.article-title
{
    font-weight: bold;
    font-size: 1.5em;
    overflow: clip;
}

.article-body
{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eaeaea;
    overflow: clip;
}

.listing
{
    list-style: none;
    padding-left: 0;
}

.badge
{
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.input_checkbox input
{
    width: auto !important;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

footer
{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    
}

footer a:hover
{
    color: #222;
}

footer small
{
    float: left;
}

footer ul
{
    float: right;
    list-style: none;
}

footer ul list{
    float: left;
    margin-left: 15px;
}



/* This is an edited version of Tony Montemorano's...
   https://codepen.io/allusis/pen/Ckuev (Bootstrap DataTable) */
.demo {margin:4em auto}


// Quickly SCSS'ed
// Handful of questionable important flags

.dataTables_length {
  label {float:left;text-align:left}
  select {width:75px}
}
.dataTables_filter {
  label {float:right}
}
.dataTables_info {padding-top:26px}
.dataTables_paginate {float:right;margin:0}

table {
  &.table {
    clear:both;
    margin-bottom:6px !important;
    max-width:none !important;
    thead {
      .sorting,
      .sorting_asc,
      .sorting_desc,
      .sorting_asc_disabled,
      .sorting_desc_disabled {cursor:pointer;*cursor:hand}
      .sorting { background: url('../images/sort_both.png') no-repeat center right; }
      .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
      .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }
      .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
      .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
    }
  }
  &.dataTable {
    th:active {outline:none}
  }
}

/* Scrolling */
.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  thead {
    tr:last-child {
      th:first-child,td:first-child {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}
.dataTables_scrollBody {
  table {
    border-top: none;
    margin-bottom: 0 !important;
    tbody tr:first-child {
      th, td {border-top:none}
    }
  }
}
.dataTables_scrollFoot table {
  border-top: none;
}


/*
 * TableTools styles
 */

.table tbody tr {
  &.active {
    td,th {background-color:#08C;color:white}
    &:hover {
      td,th {background-color: #0075b0 !important}
    }
  }
}
.table-striped tbody tr {
  &.active:nth-child(odd) {
    td,th {background-color: #017ebc;}
  }
}

table.DTTT_selectable tbody tr {cursor: pointer;*cursor: hand}

.DTTT {
  .btn {
    color: #333 !important;
    font-size: 12px;
    &:hover {text-decoration: none !important;}
  }
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

/* TableTools information display */

.DTTT_print_info {
  &.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
  }
  h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
  }
  p {font-size:14px;line-height:20px}
}

/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}

div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}

div.DTFC_LeftFootWrapper table {
  border-top: none;
}

.population-submit-box {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}